/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

#action-item-template {
  display: none;
}

#actions button {
  min-width: 0;
}

.group-common,
.group-general,
.action-params-label,
.action-params-label-input {
  visibility: collapse;
}
:root[group-type="common"] .group-common,
:root[group-type="general"] .group-general,
.action-name-field[value="push"] ~ .action-params-label,
.action-name-field[value="click"] ~ .action-params-label,
:root[group-type="general"] .action-name-field[value="check"] ~ .action-params-label,
:root[group-type="general"] .action-name-field[value="uncheck"] ~ .action-params-label {
  visibility: visible;
}

.action-name-field[value="accept"] ~ .action-params-field,
.action-name-field[value="cancel"] ~ .action-params-field,
:root[group-type="common"] .action-name-field[value="check"] ~ .action-params-field,
:root[group-type="common"] .action-name-field[value="uncheck"] ~ .action-params-field {
  visibility: hidden;
}

#duplicated-name-message {
  color: red;
  text-shadow: white 0 0 1px,
               white 0 0 1px,
               white 0 0 1px;
  visibility: hidden;
}

:root[duplicated-name] #duplicated-name-message {
  visibility: visible;
}

:root[duplicated-name] #name-field {
  box-shadow: 0px 0px 1px red,
              0px 0px 3px red;
}
